In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.formula.api as sm
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('display.max_columns', None)

df = pd.read_excel("IBM Employee Attrition.xlsx")

In [2]:
df.head(3)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,1,2,Female,3,2,Sales Executive,4,Single,5993,8,Y,Yes,11,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,2,3,Male,2,2,Research Scientist,2,Married,5130,1,Y,No,23,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,4,Male,2,1,Laboratory Technician,3,Single,2090,6,Y,Yes,15,3,2,0,7,3,3,0,0,0,0

In [3]:
df["Attrition"].replace(["No","Yes"],[0,1],inplace = True)

In [4]:
df.head(3)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,Sales,1,2,Life Sciences,1,2,Female,3,2,Sales Executive,4,Single,5993,8,Y,Yes,11,3,1,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,Research & Development,8,1,Life Sciences,2,3,Male,2,2,Research Scientist,2,Married,5130,1,Y,No,23,4,4,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,Research & Development,2,2,Other,4,4,Male,2,1,Laboratory Technician,3,Single,2090,6,Y,Yes,15,3,2,0,7,3,3,0,0,0,0

In [5]:
#(df.corr()).loc[]

SyntaxError: invalid syntax (2185846532.py, line 1)

In [6]:
mod1 = sm.logit('(Attrition) ~ Age + C(BusinessTravel) + DistanceFromHome + C(EnvironmentSatisfaction) + C(Gender) + C(JobInvolvement) + C(JobRole) + C(JobSatisfaction) +  C(MaritalStatus) +  MonthlyIncome  + NumCompaniesWorked + C(OverTime) + PercentSalaryHike + C(PerformanceRating) +  C(RelationshipSatisfaction) + C(StockOptionLevel) + TotalWorkingYears + TrainingTimesLastYear + (WorkLifeBalance) + YearsAtCompany +  YearsInCurrentRole +  YearsSinceLastPromotion + YearsWithCurrManager', data=df).fit()

mod1.summary()

Optimization terminated successfully.
         Current function value: 0.287275
         Iterations 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 1470
Model:                          Logit   Df Residuals:                     1427
Method:                           MLE   Df Model:                           42
Date:                Mon, 14 Aug 2023   Pseudo R-squ.:                  0.3496
Time:                        11:20:19   Log-Likelihood:                -422.29
converged:                       True   LL-Null:                       -649.29
Covariance Type:            nonrobust   LLR p-value:                 1.551e-70
==========================================================================================================
                                             coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------
Intercept                                  1.5978      1.146      1.394      0.163      -0.649       3.844
C(BusinessTravel)[T.Travel_Frequently]     1.9068      0.406      4.699      0.000       1.111       2.702
C(BusinessTravel)[T.Travel_Rarely]         1.0012      0.375      2.671      0.008       0.266       1.736
C(EnvironmentSatisfaction)[T.2]           -1.1433      0.278     -4.110      0.000      -1.689      -0.598
C(EnvironmentSatisfaction)[T.3]           -1.1138      0.251     -4.440      0.000      -1.605      -0.622
C(EnvironmentSatisfaction)[T.4]           -1.3153      0.255     -5.167      0.000      -1.814      -0.816
C(Gender)[T.Male]                          0.3725      0.186      2.008      0.045       0.009       0.736
C(JobInvolvement)[T.2]                    -0.9907      0.356     -2.780      0.005      -1.689      -0.292
C(JobInvolvement)[T.3]                    -1.3015      0.336     -3.873      0.000      -1.960      -0.643
C(JobInvolvement)[T.4]                    -2.0170      0.471     -4.281      0.000      -2.940      -1.094
C(JobRole)[T.Human Resources]              1.6458      0.594      2.772      0.006       0.482       2.809
C(JobRole)[T.Laboratory Technician]        1.6185      0.486      3.329      0.001       0.666       2.572
C(JobRole)[T.Manager]                      0.2153      0.815      0.264      0.792      -1.382       1.812
C(JobRole)[T.Manufacturing Director]       0.4458      0.542      0.822      0.411      -0.617       1.508
C(JobRole)[T.Research Director]           -1.2267      1.016     -1.208      0.227      -3.218       0.764
C(JobRole)[T.Research Scientist]           0.7050      0.491      1.437      0.151      -0.256       1.666
C(JobRole)[T.Sales Executive]              1.2155      0.439      2.767      0.006       0.354       2.077
C(JobRole)[T.Sales Representative]         2.3931      0.549      4.360      0.000       1.317       3.469
C(JobSatisfaction)[T.2]                   -0.6389      0.273     -2.337      0.019      -1.175      -0.103
C(JobSatisfaction)[T.3]                   -0.7124      0.244     -2.925      0.003      -1.190      -0.235
C(JobSatisfaction)[T.4]                   -1.3807      0.261     -5.293      0.000      -1.892      -0.869
C(MaritalStatus)[T.Married]                0.2315      0.275      0.843      0.399      -0.307       0.770
C(MaritalStatus)[T.Single]                 0.5143      0.388      1.327      0.185      -0.246       1.274
C(OverTime)[T.Yes]                         1.9757      0.196     10.098      0.000       1.592       2.359
C(PerformanceRating)[T.4]                  0.1923      0.399      0.482      0.630      -0.590       0.975
C(RelationshipSatisfaction)[T.2]          -0.8269      0.285     -2.899      0.004      -1.386      -0.268
C(RelationshipSatisfaction)[T.3]          -0.8082      0.253     -3.191      0.001      -1.305      -0.312
C(RelationshipSatisfaction)[T.4]          -0.9451      0.259     -3.649      0.000      -1.453      -0.437
C(StockOptionLevel)[T.1]                  -1.0210      0.307     -3.331      0.001      -1.622      -0.420
C(StockOptionLevel)[T.2]                  -1.3123      0.431     -3.042      0.002      -2.158      -0.467
C(StockOptionLevel)[T.3]                  -0.3690      0.454     -0.812      0.417      -1.259       0.521
Age                                       -0.0314      0.014     -2.306      0.021      -0.058      -0.005
DistanceFromHome                           0.0476      0.011      4.373      0.000       0.026       0.069
MonthlyIncome                           1.595e-05   6.05e-05      0.264      0.792      -0.000       0.000
NumCompaniesWorked                         0.1913      0.038      4.971      0.000       0.116       0.267
PercentSalaryHike                         -0.0295      0.039     -0.754      0.451      -0.106       0.047
TotalWorkingYears                         -0.0705      0.029     -2.404      0.016      -0.128      -0.013
TrainingTimesLastYear                     -0.2028      0.074     -2.741      0.006      -0.348      -0.058
WorkLifeBalance                           -0.3817      0.126     -3.035      0.002      -0.628      -0.135
YearsAtCompany                             0.0834      0.039      2.137      0.033       0.007       0.160
YearsInCurrentRole                        -0.1370      0.046     -2.967      0.003      -0.227      -0.046
YearsSinceLastPromotion                    0.1894      0.043      4.414      0.000       0.105       0.274
YearsWithCurrManager                      -0.1405      0.048     -2.943      0.003      -0.234      -0.047
==========================================================================================================
"""

In [53]:
    mod1 = sm.logit(f"(Attrition) ~  (BusinessTravel) + C(EnvironmentSatisfaction) + C(JobInvolvement) + C(JobLevel) + C(JobSatisfaction) + C(OverTime) + C(StockOptionLevel) + C(RelationshipSatisfaction) + C(WorkLifeBalance) + YearsInCurrentRole + YearsSinceLastPromotion + YearsWithCurrManager", data=df).fit()
    print(mod1.summary())

Optimization terminated successfully.
         Current function value: 0.315114
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 1470
Model:                          Logit   Df Residuals:                     1441
Method:                           MLE   Df Model:                           28
Date:                Mon, 14 Aug 2023   Pseudo R-squ.:                  0.2866
Time:                        11:56:42   Log-Likelihood:                -463.22
converged:                       True   LL-Null:                       -649.29
Covariance Type:            nonrobust   LLR p-value:                 8.549e-62
=======================================================================================================
                                          coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                               2.5706      0.608      4.229      0.000       1.379       3.762
BusinessTravel[T.Travel_Frequently]     1.6531      0.395      4.183      0.000       0.879       2.428
BusinessTravel[T.Travel_Rarely]         0.8330      0.370      2.250      0.024       0.107       1.559
C(EnvironmentSatisfaction)[T.2]        -0.8582      0.261     -3.289      0.001      -1.370      -0.347
C(EnvironmentSatisfaction)[T.3]        -0.8986      0.235     -3.828      0.000      -1.359      -0.438
C(EnvironmentSatisfaction)[T.4]        -1.1077      0.240     -4.622      0.000      -1.577      -0.638
C(JobInvolvement)[T.2]                 -1.1911      0.333     -3.582      0.000      -1.843      -0.539
C(JobInvolvement)[T.3]                 -1.5157      0.313     -4.842      0.000      -2.129      -0.902
C(JobInvolvement)[T.4]                 -2.0526      0.442     -4.647      0.000      -2.918      -1.187
C(JobLevel)[T.2]                       -1.1080      0.208     -5.334      0.000      -1.515      -0.701
C(JobLevel)[T.3]                       -0.5197      0.268     -1.940      0.052      -1.045       0.005
C(JobLevel)[T.4]                       -2.1798      0.562     -3.879      0.000      -3.281      -1.078
C(JobLevel)[T.5]                       -1.5147      0.562     -2.695      0.007      -2.616      -0.413
C(JobSatisfaction)[T.2]                -0.5383      0.258     -2.086      0.037      -1.044      -0.033
C(JobSatisfaction)[T.3]                -0.5911      0.228     -2.595      0.009      -1.038      -0.145
C(JobSatisfaction)[T.4]                -1.2068      0.246     -4.901      0.000      -1.689      -0.724
C(OverTime)[T.Yes]                      1.7115      0.178      9.618      0.000       1.363       2.060
C(StockOptionLevel)[T.1]               -1.2929      0.196     -6.585      0.000      -1.678      -0.908
C(StockOptionLevel)[T.2]               -1.2219      0.344     -3.548      0.000      -1.897      -0.547
C(StockOptionLevel)[T.3]               -0.5688      0.355     -1.601      0.109      -1.265       0.128
C(RelationshipSatisfaction)[T.2]       -0.6812      0.268     -2.541      0.011      -1.207      -0.156
C(RelationshipSatisfaction)[T.3]       -0.6750      0.238     -2.840      0.005      -1.141      -0.209
C(RelationshipSatisfaction)[T.4]       -0.7909      0.242     -3.271      0.001      -1.265      -0.317
C(WorkLifeBalance)[T.2]                -0.8974      0.343     -2.615      0.009      -1.570      -0.225
C(WorkLifeBalance)[T.3]                -1.1783      0.320     -3.688      0.000      -1.805      -0.552
C(WorkLifeBalance)[T.4]                -0.7951      0.392     -2.027      0.043      -1.564      -0.026
YearsInCurrentRole                     -0.1103      0.042     -2.601      0.009      -0.193      -0.027
YearsSinceLastPromotion                 0.1658      0.038      4.308      0.000       0.090       0.241
YearsWithCurrManager                   -0.1109      0.042     -2.645      0.008      -0.193      -0.029
=======================================================================================================